.about {
  display: grid;
  grid-template-columns: 2fr 3fr;
  
  align-items: center;
}

.about img {
  width: 70%;
  border-radius: 16px;
}

.about ul {
  margin: 24px 0;
}

.about li {
  margin-bottom: 12px;
}

@media(max-width:768px){
  .about { grid-template-columns: 1fr; }
}

.about h1{
  font-size: 2.5rem;
  margin-bottom: 16px;
  white-space: nowrap;
  
}

.about h4{
  font-size: 1.25rem;
  margin-bottom: 16px;
}

.about p {
  color: #9ca3af;
  line-height: 1.6; 
}